html {
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
}

#about { background-color: #f4f4f4; }
#portfolio { background-color: #ddd; }
#contact { background-color: #bbb; }

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: white;
    padding: 10px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.menu-items {
    display: flex;
    list-style: none;
}

.menu-items li {
    margin: 0 15px;
}

.menu-items a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #333;
    transition: color 0.3s;
}

.menu-items a:hover {
    color: #117964;
}
